/* These styles apply to the homepage of the Website*/

.homepage {
    text-align: center;
    font-family: Helvetica, "Times New Roman", sans-serif;
    color: rgb(197, 13, 13);
    
}

.image-link {
    height: 200px;
    width: 250px;
}

#thai{
    font-family: monospace, Helvetica, "Times New Roman", sans-serif;
    color: rgb(14, 150, 14);
}

#coffee{
    font-family: cursive, Helvetica, "Times New Roman", sans-serif;
    color: rgb(87, 19, 19, 0.575);
}

#burger{
    font-family: Arial, Helvetica, "Times New Roman", sans-serif;
    color:red;
    
}

/* These styles apply to the recipe pages */
.whole-page{
    text-align: center;
}

.heading {
    font-family: Helvetica, "Times New Roman", sans-serif;
    color: red;
}

.ingredients {
    font-family: Helvetica, "Times New Roman", sans-serif;
    color: blue;
}

.recipe {
    font-family: Helvetica, "Times New Roman", sans-serif;
    color: green;
}
